/* ==========================================================================
  Our styles 
   ========================================================================== */

body {
  background: #222;
  color: #d25656;
  font-family: Lato;
}

h1 {
  letter-spacing: 2px;
  margin: 1.5em 0;
}

.center {
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.my-md {
  margin: 20px 0;
}

input {
  line-height: 24px;
  width: 320px;
  padding-left: 8px;
}

button {
  line-height: 24px;
  display: inline-block;
}
